/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.error_message{
    color: #0b0504;
}

.navbar-brand-logo{
    float:left;
    padding:10px 10px;
    font-size:18px;
    line-height:20px;
    height:50px
}

.formularios-flotantes{
    width: 800px;
}

#formularios-CH{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, .2),
    0 3px 0 #fff,
    0 4px 0 rgba(0, 0, 0, .2),
    0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, .2);
}

#formularios-CH {
    position: relative;
    z-index: 0;
}

#formularios-CH:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
}